# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv311/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log
app.log

# Project-specific
uploads/
enhanced/
temp/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/*
!.vscode/settings.json
gfpgan/weights/detection_Resnet50_Final.pth
gfpgan/weights/parsing_parsenet.pth
